export(hdi, hdi)
export(hdi, stability)
export(hdi, multi.split)
export(hdi, lasso.cv)
export(hdi, lm.pval)
export(hdi, lasso.firstq)
export(hdi, fdr.adjust)

export(hdi, clusterLowerBound)
export(hdi, plotClusterBound)
export(hdi, lowerGroupBound)

S3method(print, hdi)
